<%- include("templates/header") %>
<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 650px); margin-top: 150px;">
    <div class="text-center">
        <h1 class="display-1 text-primary fw-bolder">404</h1>
        <a class="btn btn-outline-success mt-3" href="/">Back to Home</a>
    </div>
</div>
<%- include("templates/footer") %>