<%- include('templates/header', { title: 'Admin', LoggedIn, user_type }) %>

<h1>Admin Panel</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <%- include('templates/user', { user, username: username }) %>
    <% }) %>
  </tbody>
</table>

<%- include('templates/footer') %>