<%- include('templates/header', { LoggedIn, user_type }) %>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <%- include('templates/user', { user, username: username }) %>
    <% }) %>
  </tbody>
</table>

<%- include('templates/footer') %>