<%- include("templates/header") %> 
    <h1 style='color:red'>Error!</h1>
    <div><%= error %> </div>
    <div>
         <a class="btn btn-outline-success me-2" href="/">Home</a>
    </div>
<%- include("templates/footer") %> 