<tr>
  <td><%= user.username %>(<%= user.user_type %>)</td>
  <td>
    <% if (user.user_type === 'user') { %>
      <form action="/promote/<%= user._id %>" method="POST">
        <button class="btn btn-sm btn-success">Promote</button>
      </form>
    <% } if (user.user_type === 'admin') { %>
      <form action="/demote/<%= user._id %>" method="POST">
        <button class="btn btn-sm btn-outline-success">Demote</button>
      </form>
    <% } else { %>
      <span class="text-muted"></span>
    <% } %>
  </td>
</tr>